# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# React build
frontend/build/
frontend/.cache/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.joblib

# Virtual environments
.venv/
env/
venv/
ENV/

# VSCode & IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
*.env
